@{
    ViewData["Title"] = "Login Page";
}
@model UserModel

<div class="Login-form">
    <h2>Login</h2>

    <form action="/Login/Verify" method="post">
        <label class="UserName-label">Username:</label> <br />
        <input type="text" asp-for="UserName" placeholder="Enter your username" required> <br />
        <span asp-validation-for="UserName" class="text-danger d-block"></span>

        <label class="Password-label">Password:</label> <br />
        <input type="password" asp-for="Password" placeholder="Enter your password" required> <br />
        <span asp-validation-for="Password" class="text-danger d-block"></span>

        <button class="Login-button" type="submit">Login</button>
    </form>
</div>
