@{
    ViewData["Title"] = "Login Page";
}
@model UserModel

<div class="Login-form">
    <h2>Login</h2>

    <form action="/Login/Verify" method="post">
        <label class="UserName-label">Username:</label> <br />
        <input type="text" asp-for="UserName" placeholder="Enter your username" required> <br />

        <label class="Password-label">Password:</label> <br />
        <input type="password" asp-for="Password" placeholder="Enter your password" required> <br />
        @if (ViewData.ModelState.ContainsKey("Error") && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            <span class="text-danger">@Html.ValidationMessage("Error")</span> <br />
        }

        <button class="Login-button" type="submit">Login</button>
    </form>
</div>
